body{
  background-color: #abdbe3;
}
h3{
  color:#FB9C74;
}
h1{
  color: #FB9C74;
}

hr
{
  background-style: dotted none none none;
  border-color: #abdbe3;
  border-width: 8px;
  height: 0px;
  width: 10%;
}
